.ant-btn {
  border-radius: 6px !important;
}

.danger {
  background-color: @primary-red !important;
  border-color: @primary-red !important;
  color: @primary-white !important;
}

.success {
  background-color: @primary-green !important;
  border-color: @primary-green !important;
  color: @primary-white !important;
}

.warning {
  background-color: @primary-yellow!important;
  border-color: @primary-yellow !important;
  color: @primary-white!important;
}
