.users-dashboard {
  border-radius: 8px;
  box-shadow: @box-shadow-light;

  .users-dashboard__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid @primary-gray;
    margin-bottom: 40px;

    h1 {
      margin: 0;
      padding: 0;
    }
  }

  .users-dashboard__container {
    padding: 0 25px 25px 25px;
  }
}
